{% extends 'base.html' %}

{% block content %}       
        <div style="text-align:center;width:100%">
      	<h1>
        	<div style="display:inline">
            	<img src="{{ final_img }}" width="60" border="1 px solid #aaa">
            </div>
            {{ country_name }}
         </h1>
       </div>
      <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Coronavirus Cases:</th>
                    <th><font color=#000000>{{ cases.0 }}</font></th>
                </tr>
            </thead>

            <thead>
                <tr>
                    <th>Deaths:</th>
                    <th><font color=#8B0000>{{ cases.1 }}</font></th>
                </tr>
            </thead>

            <thead>
                <tr>
                    <th>Recovered:</th>
                    <th><font color=#8ACA2B>{{ cases.2 }}</font></th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock content %}


